---
const { title, description } = Astro.props
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content={description ?? "Avinash's Blog"} />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;900&family=Lora:ital,wght@1,700&display=swap" rel="stylesheet">
<title>{title}</title>

<script>
    import { initTheme } from "../scripts/theme-switcher"
    initTheme()
</script>

<noscript>
    <style>      
      /* can't get last read date without js */
      .last-read {
        display: none;
      }
    </style>
</noscript>
