---
import { ViewTransitions } from "astro:transitions";
import MyAvatar from "../assets/my-avatar.png";

interface Props {
  title?: string;
  description?: string;
  banner?: { src: string; alt: string };
  url?: string;
}

const { title, description, banner, url } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content={description ?? "I'm a passionate coder who thrives on turning creative ideas into digital realities."} />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/png" href="/favicon.png" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;900&family=Lora:ital,wght@1,700&display=swap"
  rel="stylesheet"
/>
<meta property="og:title" content={title}>
<meta property="og:type" content="article">
<meta property="og:url" content={url ?? "https://www.avilabs.net/"}>
<meta property="og:image" content={banner ? banner.src : MyAvatar.src}>
<meta property="og:description" content={description ?? "I'm a passionate coder who thrives on turning creative ideas into digital realities."}>

<ViewTransitions />
<title>{title}</title>

<script>
  import { initTheme } from "../scripts/theme-switcher";

  document.addEventListener(
    "astro:page-load",
    () => {
      // This only runs once.
      initTheme();
    },
    { once: true },
  );

  document.addEventListener("astro:after-swap", () => {
    initTheme();
  });
</script>

<noscript>
  <style>
    /* can't get last read date without js */
    .last-read {
      display: none;
    }
  </style>
</noscript>
