---
import { Image } from "astro:assets";
import Day from "../components/icons/Day.astro";
import avatar from "../assets/mini-me.png";
---

<nav class="px-6 py-4 top-0 w-full navbar" id="navbar">
  <ul class="w-full flex justify-between">
    <li>
      {
        Astro.url.pathname !== "/" && (
          <a href="/" rel="prefetch">
            <Image
              class="hover:scale-110 transition-all w-[60px]"
              src={avatar}
              alt="Home button"
              quality="high"
              height={140}
              width={140}
            />
          </a>
        )
      }
    </li>
    <li role="button" id="theme-switcher" aria-label="Switch theme">
      <div
        class="p-2 rounded-lg bg-body-800 hover:bg-body-700 outline outline-1 outline-body-700 transition-all"
      >
        <Day />
      </div>
    </li>
  </ul>
</nav>

<script>
  import { toggleTheme } from "../scripts/theme-switcher";

  document.addEventListener("astro:page-load", () => {
    const switcher = document.querySelector("#theme-switcher")!;
    switcher.addEventListener("click", () => {
      toggleTheme();
    });
  });
</script>

<style>
  .navbar {
    z-index: 20;
  }
</style>
