---
import "../styles/theme.css"
import "../styles/fonts.css"
import BaseHead from "../components/BaseHead.astro";

const { ...rest } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead {...rest} />
    </head>
    <body>
        <div>
            <slot />
        </div>
    </body>
</html>
